.topBox {
	display: flex;
	margin-bottom: 16px;
	position: relative;
	align-items: center;
	justify-content: space-between;
	& > .text {
		font-weight: bold;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 18px;
		color: #000000;
	}
	& > .img {
		width: 24px;
		height: 24px;
		cursor: pointer;
	}
}
