.PlaceAnOrderPopupBoxMore {
  z-index: 99999999999;
  ::v-deep [name*="content"] {
    border-radius: 15px 15px 0 0 !important;
    overflow: hidden;
    .uni-popup__wrapper {
      border-radius: 15px 15px 0 0 !important;
      .popup-content {
        border-radius: 15px 15px 0 0 !important;
        & > .botBox {
          padding: 6px 6px 45px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          background: #d1d3d9;
          & > .item {
            width: 32%;
            margin-bottom: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            & > .img {
              width: fit-content;
              cursor: pointer;
            }
            & > .one {
              font-weight: 400;
              font-size: 25px;
              text-align: center;
              color: #000000;
              .imgClose {
                max-width: 22px;
                max-height: 18px;
              }
            }
            & > .two {
              & > .t {
                font-weight: 400;
                text-align: center;
                font-size: 25px;
                color: #000000;
              }
              & > .t1 {
                font-weight: bold;
                margin-bottom: 4px;
                font-size: 10px;
                text-align: center;
                color: #000000;
                letter-spacing: 2px;
              }
            }
          }
        }
        & > .topBox {
          border-radius: 15px 15px 0 0 !important;
          padding: 16px;
          background-color: white;
          & > .num {
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            margin: 16px 0 24px;
            color: #111111;
          }
          & > .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            & > .text {
              font-weight: 500;
              font-size: 18px;
              color: #111111;
            }
            & > .close {
              font-size: 18px;
              cursor: pointer;
              color: rgba(17, 17, 17, 0.4);
            }
          }
          & > .kuang {
            display: flex;
            align-items: center;
            gap: 3px;
            justify-content: space-between;
            & > .num {
              background: #f1f1f1;
              flex: 1;
              position: relative;
              aspect-ratio: 1/0.8;
              & > .Location {
                position: absolute;
                top: 50%;
                font-weight: bold;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          & > .password {
            font-weight: 400;
            font-size: 14px;
            color: #024df6;
            text-align: right;
            margin-top: 12px;
          }
        }
      }
    }
  }
}
