.myContent {
	background-image: url('@/static/myBack.png');
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 115px 16px 5px;
	& > .itemBox {
		overflow: hidden;
		border-radius: 12px;
		& > .itemLogout {
			margin-top: 16px;
		}
		& > .item {
			display: flex;
			padding: 16px;
			background: #ffffff;
			align-items: center;
			justify-content: space-between;
			& > .img {
				width: 16px;
				height: 16px;
				cursor: pointer;
			}
			& > .left {
				display: flex;
				align-items: center;
				& > .text {
					font-weight: 500;
					font-size: 14px;
					color: #111111;
				}
				& > .img {
					width: 20px;
					height: 20px;
					margin-right: 12px;
				}
			}
		}
	}
	& > .topBox {
		background: #ffffff;
		border-radius: 12px;
		margin-bottom: 16px;
		padding: 48px 16px 24px;
		position: relative;
		& > .avatar {
			top: 0;
			transform: translateY(-50%);
			left: 24px;
			position: absolute;
			width: 64px;
			border-radius: 50%;
			height: 64px;
		}
		& > .grade {
			background: #111111;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 8px 16px;
			& > .left {
				& > .text {
					font-weight: 400;
					font-size: 12px;
					line-height: 1.2;
					color: #8ca6df;
				}
				& > .num {
					font-weight: 500;
					line-height: 1.2;
					margin-left: 4px;
					font-size: 14px;
					margin-top: 6px;
					color: #ffffff;
				}
			}
			& > .show {
				padding: 6px 12px;
				position: relative;
				font-weight: 500;
				font-size: 14px;
				width: fit-content;
				color: #ffffff;
				border: 1px solid transparent;
				background: rgba(2, 77, 246, 0.2);
				border-radius: 30px;
				&::before {
					content: '';
					position: absolute;
					top: -1px;
					left: -1px;
					right: -1px;
					bottom: -1px;
					border-radius: 30px; /* 继承圆角 */
					background: linear-gradient(to right, rgba(2, 77, 246, 1), rgba(255, 0, 4, 1)); /* 渐变边框颜色 */
					padding: 1px; /* 边框宽度 */
					-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
					-webkit-mask-composite: destination-out;
					mask-composite: exclude;
				}
			}

			border-radius: 12px;
		}
		& > .id {
			margin-bottom: 24px;
			margin-top: 6px;
			padding: 0 8px;
			display: flex;
			align-items: center;
			& > .text {
				font-weight: 500;
				font-size: 14px;
				color: rgba(17, 17, 17, 0.4);
			}
			& > .img {
				cursor: pointer;
				margin-left: 4px;
				width: 16px;
				height: 16px;
			}
		}
		& > .phone {
			font-weight: 500;
			padding: 0 8px;
			font-size: 20px;
			color: #111111;
		}
	}
}

.messagePopBox {
	::v-deep .uni-popup-message__box {
		background: rgba(17, 17, 17, 0.6);
		border-radius: 4px;
		padding: 10px 12px;
		.moreBox {
			display: flex;
			align-items: center;
			& > .img {
				width: fit-content;
			}
			& > .text {
				font-weight: 400;
				font-size: 14px;
				margin-left: 4px;
				color: #ffffff;
			}
		}
	}
}
.logoutBoxPopup {
	::v-deep .uni-popup-dialog {
		.uni-dialog-title {
			display: none;
		}
		.uni-dialog-content {
			.uni-dialog-content-text {
				font-weight: 500;
				font-size: 18px;
				color: #333333;
			}
		}
		.uni-dialog-button-group {
			.uni-dialog-button {
				.uni-dialog-button-text {
					font-weight: 500;
					font-size: 16px;
					color: #999999;
				}
			}

			.uni-border-left {
				.uni-dialog-button-text {
					font-weight: 500;
					font-size: 16px;
					color: #111111;
				}
			}
		}
	}
}
