.listBox {
	& > .FieldBox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;
		.text {
			font-weight: 400;
			font-size: 12px;
			color: rgba(255, 255, 255, 0.4);
		}
		& > .right {
			display: flex;
			align-items: center;
			& > .right {
				margin-left: 20px;
				width: 80px;
				justify-content: flex-end;
			}
		}
		.left {
			display: flex;
			align-items: center;
		}
		.operate {
			.triangleRotate {
				transform: rotate(90deg) skewX(-30deg) scale(1, 0.866) !important;
			}
			.triangle {
				width: 4px;
				height: 4px;
				background-color: #333;
				transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
				&::before,
				&::after {
					content: '';
					position: absolute;
					background-color: inherit;
					width: 4px;
					height: 4px;
				}
				&::before {
					transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(-50%, 0);
				}
				&::after {
					transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0%, 50%);
				}
			}
		}
	}
	.z-paging-content {
		position: relative !important;
		width: 100% !important;
		height: 100% !important;
		.lineItemMore {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;
			& > .left {
				display: flex;
				align-items: center;
				& > .img {
					width: 24px;
					height: 24px;
					margin-right: 12px;
				}
				& > .content {
					& > .en {
						display: flex;
						align-items: flex-end;
						margin-bottom: 5px;
						.name {
							margin-bottom: -2px;
							color: white;
							font-size: 17px;
							font-weight: 500;
						}
						.u {
							color: rgba(255, 255, 255, 0.4);
							font-size: 12px;
							font-weight: 300;
						}
					}
					& > .cn {
						font-weight: 400;
						font-size: 12px;
						color: #aaaaaa;
					}
				}
			}
			& > .right {
				display: flex;
				align-items: center;
				& > .price {
					font-weight: 400;
					font-size: 17px;
					color: #ffffff;
					margin-right: 20px;
				}
				& > .fluctuation {
					border-radius: 4px;
					cursor: pointer;
					font-weight: 400;
					font-size: 14px;
					box-sizing: border-box;
					color: #ffffff;
					padding: 6px 0;
					text-align: center;
					width: 80px;
				}
			}
		}
	}
}
